html {
	background-color: $brand-primary;
}
body {
	text-rendering: optimizeLegibility;
	background-color: $body-bg;
}

ul,
ol,
p,
blockquote,
table {
	margin-bottom: $line-height-computed;
}

// WordPress images
.alignleft {
	float: left;
	margin: gutter-sm() gutter-sm() gutter-sm() 0;
}

.alignright {
	float: right;
	margin: gutter-sm() 0 gutter-sm() gutter-sm();
}

.aligncenter {
	@include center-element;
	margin-top: gutter-sm();
	margin-bottom: gutter-sm();
}

.wp-caption-text {
	margin: 0;
}

table {
	@extend .table;
}

a {
	word-wrap: break-word;
}
